
.montserrat-p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container{
      display: flex;
      height: 100px;
      background-color: white;
      justify-content: space-between;
      align-content: center;
      border-radius: 5px;
}
p{
       align-content: center;
       color:black;
       font-family: "Montserrat", sans-serif;
       font-optical-sizing: auto;
       font-weight: 400;
       font-style: normal;
}
h{
      align-content: center;
      color:black;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
}
h:hover{
    color:#05a88d;
}
p:hover{
    color:#05a88d;
}
.box{
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: white;
    margin:auto;
}
 
button{
    align-content: center; 
    background-color: white;
    border-radius: 7px;
    padding: 5px 30px; 
    border-color: #05a88d;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}
button:hover{
    background-color: #05a88d;
    color:white;
}
  